<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>gsc</title>
        <link rel="stylesheet" href="../assets/css/ui.css" />
        <script src="../assets/js/main.js" type="module" defer></script>
    </head>
    <body>
        <div class="alertes">

            <div class="alerte alerte-danger">
                <p class="alerte__text">
                    Suppression effectuée avec succès 
                    <span class="check-danger">&check;</span>
                </p>
                <span class="alerte__closer">&Cross;</span>
            </div>

            <div class="alerte alerte-success">
                <p class="alerte__text">
                    Enregistré avec succès
                    <span class="check-success">&check;</span>
                </p>
                <span class="alerte__closer">&Cross;</span>
            </div>

            <div class="alerte alerte-warning">
                <p class="alerte__text">
                    Attension! êtes-vous sûr ?
                </p>
                <span class="alerte__closer">&Cross;</span>
            </div>

        </div>
    </body>
</html>