<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>gsc</title>
        <link rel="stylesheet" href="../assets/css/ui.css" />
        <script src="../assets/js/main.js" type="module" defer></script>
    </head>
    <body>
        <div class="main-panel">
            <div class="list-container">
                <table class="list">
                    <caption class="list__title">Liste des utilisateurs</caption>
                    <thead class="list__header">
                        <tr class="list__row">
                            <th class="list__row-item">N°</th>
                            <th class="list__row-item">Nom</th>
                            <th class="list__row-item">Prénom(s)</th>
                            <th class="list__row-item">Téléphone</th>
                            <th class="list__row-item">Email</th>
                            <th class="list__row-item">Rôle</th>
                            <th class="list__row-item" colspan="2">Action</th>
                        </tr>
                    </thead>
                    <tbody class="list__body">
                        <tr class="list__row">
                            <td class="list__row-item">1</td>
                            <td class="list__row-item">BOURAIMA</td>
                            <td class="list__row-item">Mouksite</td>
                            <td class="list__row-item">01 44 78 10 21</td>
                            <td class="list__row-item">mouksitebouraima@gmail.com</td>
                            <td class="list__row-item">Super admin</td>
                            <td class="list__row-item">
                                <a href="" class="list__btn btn-edit">Éditer</a>
                            </td>
                            <td class="list__row-item">
                                <a href="" class="list__btn btn-delete">Supprimer</a>
                            </td>
                        </tr>
                        <tr class="list__row">
                            <td class="list__row-item">2</td>
                            <td class="list__row-item">AKIOLE</td>
                            <td class="list__row-item">Chancelle</td>
                            <td class="list__row-item">01 54 53 98 50</td>
                            <td class="list__row-item">chancelleakiole@gmail.com</td>
                            <td class="list__row-item">Secrétaire</td>
                            <td class="list__row-item">
                                <a href="" class="list__btn btn-edit">Éditer</a>
                            </td>
                            <td class="list__row-item">
                                <a href="" class="list__btn btn-delete">Supprimer</a>
                            </td>
                        </tr>
                        <tr class="list__row">
                            <td class="list__row-item">3</td>
                            <td class="list__row-item">DOSSOU</td>
                            <td class="list__row-item">Rolande</td>
                            <td class="list__row-item">01 54 93 93 15</td>
                            <td class="list__row-item">rolandedossou@gmail.com</td>
                            <td class="list__row-item">comptable</td>
                            <td class="list__row-item">
                                <a href="" class="list__btn btn-edit">Éditer</a>
                            </td>
                            <td class="list__row-item">
                                <a href="" class="list__btn btn-delete">Supprimer</a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot class="list__footer">
                        <tr class="list__row">
                            <th class="list__row-item">Nombre d'utilisateur</th>
                            <th class="list__row-item" colspan="7">3 utilisateurs enregistrés</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </body>
</html>