<div class="form__group">
							<label for="year" class="group__label">Année Scolaire : </label>
							<select name="year" id="year" class="group__input">
								<option value="Année" disabled selected>Année</option>
								<option value="2020-2021">2020-2021</option>
								<option value="2021-2022">2021-2022</option>
								<option value="2022-2023">2022-2023</option>
								<option value="2023-2024">2023-2024</option>
								<option value="2024-2025">2024-2025</option>
							</select>
						</div>

						<div class="form__group">
							<label for="centre" class="group__label">Centre : </label>
							<select name="centre" id="centre" class="group__input">
								<option value="Centre" disabled selected>Centre</option>
								<option value="Agbokou">Agbokou</option>
								<option value="Adjarra">Adjarra</option>
								<option value="Donoukin">Donoukin</option>
								<option value="Djègan">Djègan</option>
							</select>
						</div>

						<div class="form__group">
							<label for="cours" class="group__label">Cours : </label>
							<select name="cours" id="cours" class="group__input">
								<option value="Cours" disabled selected>Cours</option>
								<option value="Primaire">Primaire</option>
								<option value="Secondaire">Secondaire</option>
							</select>
						</div>

						<div class="form__group">
							<label for="classe" class="group__label">Classe : </label>
							<select name="classe" id="classe" class="group__input">
								<option value="Classe" disabled selected>Classe</option>
								<option value="6ème">6ème</option>
								<option value="5ème">5ème</option>
								<option value="4ème">4ème</option>
								<option value="3ème">3ème</option>
							</select>
						</div>

						<div class="form__group">
							<label for="role" class="group__label">Rôle : </label>
							<select name="role" id="role" class="group__input">
								<option value="Sélectionner le rôle" disabled selected>Sélectionner le rôle</option>
								<option value="Super admin">Super admin</option>
								<option value="Personnel">Personnel</option>
								<option value="Enseignant">Enseignant</option>
								<option value="Élève">Élève</option>
							</select>
						</div>

						<div class="form__group">
							<label for="serie" class="group__label">Série : </label>
							<select name="serie" id="serie" class="group__input">
								<option value="Série" disabled selected>Série</option>
								<option value="A">A</option>
								<option value="B">B</option>
								<option value="C">C</option>
								<option value="D">D</option>
							</select>
						</div>